*{
    margin: 0;
    padding: 0;
}
html{
    font: 14px/22px  Helvetica ,'Microsoft Yahei', 'Open Sans', "Helvetica Neue",Arial,sans-serif;
}
body{
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
/*position*/
.fl{float: left;}
.fr{float: right;}
.center{margin-left: auto;margin-right: auto;}

.mt10{margin-top: 10px;}
.mt12{margin-top: 12px;}
.mt20{margin-top: 20px;}
.mt30{margin-top: 30px;}
.mt40{margin-top: 40px;}
.mt50{margin-top: 50px;}
.mt78{margin-top: 78px;}
.mt120{margin-top: 120px;}

.ml70{margin-left: 70px}
.ml80{margin-left: 80px}
.ml95{margin-left: 95px}

.mr10{margin-right: 10px;}
.mr20{margin-right: 20px;}
.mr50{margin-right: 50px;}
.mr80{margin-right: 80px;}

.mb20{margin-bottom: 20px;}

.pt0{padding-top: 0;}
.pt12{padding-top: 12px;}
.pt20{padding-top: 20px;}
.pt22{padding-top: 22px;}
.pt30{padding-top: 30px;}
.pt40{padding-top: 40px;}
.pt50{padding-top: 50px;}
.pt80{padding-top: 80px;}

.h300{height: 300px;}
.h680{height: 680px;}

/*font-size*/
.font12{font-size: 12px;}
.font14{font-size: 14px;}
.font18{font-size: 18px;}
.font20{font-size: 20px;}
.font24{font-size: 24px;}
.font26{font-size: 26px;}

.top img{
    padding-top: 30px;
    display: block;
    height: 100px;
    width: 140px;
    margin-left: auto;
    margin-right: auto;
}
.top{height: 180px;}
.content{
    display: block;
    padding-top: 10px;
    width: 100%;
}
.login-content{height: 410px;}
.login-content h2{
    width: 150px;
    text-align: center;
    font-weight:100 ;
}
.input-content{
    position: inherit;
    width: 340px;
}
.input-bar .txt span{
    display: block;
    width: 36px;
}
/*.btn-tab{ position: relative;}*/
.btn-little,.btn-large{
    border-radius: 25px;
    -moz-border-radius: 25px;
    color: white;
    font-size: 18px;
    /*background-color: #e8ac6c;*/
    font-weight: 100;
}
.btn-small,.btn-big{
    height: 46px;
    border: 0;
    border-radius: 23px;
    -moz-border-radius: 23px;
    font-size: 18px;
    line-height: 46px;
    color: #ffffff;
}
.btn-little{
    padding: 14px 48px;
}
.btn-large{
    padding: 14px 70px;
}
.btn-small{width: 150px;}
.btn-big{width: 190px;}
.btn-tab a{
    height: 30px;
    float: right;
}
.content .btn-tab span{
    display: block;
    height:30px;
    width: 30px;
    float: right;
}
.btn-tab img{ position: absolute;}
.showstep{
    position: relative;
    width: 100%;
    height: 48px;
}
.showstep .showstep-content{
    position: absolute ;
    margin-left: 26%;
    width: 48%;
}
.showstep ul{
    position: relative;
    width: 33.333%;
    float: left;
}
.showstep .showstep-content ul li{
    list-style: none;
}
.showstep .step-list {
    display: block;
    float: left;
    width: 30%;
    height: 48px;
    line-height: 48px;
}
.showstep .showstep-content .step-list:last-child{margin-right: 0;}
.step-list span{
    display: block;
    float: left;
}
.step-list span:first-child{
    width: 50px;
    margin-right: 24px;
    text-align: center;
}
.showstep .ul-arrow{
    display: block;
    float: left;
    width: 5%;
}
.color-line{
    height: 3px;
    width: 100%;
}
.color-line span{
    display: block;
    float: left;
    height: 3px;
}
.txt{
    height:40px;
    font-size:100%;
    line-height:40px;
}
.txt label{
    filter:alpha(opacity=1);
    -moz-opacity:1;
    opacity:1;
}
.icon-txt{
    padding-left:6px;
    position:relative;
}
.icon-txt input{
    margin-left:36px;
    margin-right:4px;
    border:0;
    font-size:100%;
    vertical-align: middle;
    z-index: 10;
}
.input-content .input-bar span i{
    font-size: 29px;
    text-align: center;
    line-height: 50px;
    font-weight: 100;
}
.input-bar{
    width: 100%;
    /*height: 200px;*/
    height: inherit;
}
.input-bar div{ padding-top: 18px;}
.input-bar .icon-txt input{
    width:308px;
    height: 50px;
    margin-left: 50px;
    padding-left: 10px;
    line-height: 50px;
    text-align: left;
    background-color: rgba(255,255,255,0);
}
.input-bar input{
    position: absolute;
    top: 15px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
}
.input-bar input:focus{
    border: 0;
    outline: medium;
}
.username{
    display: block;
    float: left;
    height: 46px;
}
.username input{
    height: 100%;
    width: 300px;
    border: 0;
    padding: 5px 0 0 5px;
}
.apply-content{
    width: 850px;
    margin-left: auto;
    margin-right: auto;
    height: 360px;
}
.apply-up{
    width: 100%;
}
.apply-up-3{
    display: block;
    float: left;
    width: 250px;
    margin-right: 50px;
    height: 66px;
}
.apply-up-3 div{
    display: block;
    height: 100%;
    text-align: center;
    cursor: pointer;
}
.apply-up-3 div .list-de{
    padding-top: 10px;
}
.apply-up-3:last-child{margin-right: 0;}
.apply-up-3-right{
    float: right;
    width: 64px;
}
.apply-up-3 .apply-up-3-left{
    float: left;
    width: 184px;
    height: 40px;
}
.apply-up-3-right span{
    height: 50px;
    margin-top: 8px;
    line-height: 66px;
    font-size: 24px;
    vertical-align: middle;
    text-align: center;
}
.login-content .apply-content .apply-down{
    /*width: 350px;*/
    width: 350px;
    height: 80px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;

}

/*begin apply child=2*/
.apply-up-2{
    display: block;
    float: left;
    width: 330px;
    /*margin-right: 180px;*/
    height: 66px;
}
.apply-up-2 div{
    display: block;
    height: 100%;
    text-align: center;
    cursor: pointer;
}
.apply-up-2 div .list-de{
    padding-top: 10px;
}
.apply-up-2:first-child{
    display: block;
    float: left;
}
.apply-up-2:last-child{
    display: block;
    float: right;
}
.apply-up-2-right{
    float: right;
    width: 64px;
}
.apply-up-2 .apply-up-2-left{
    float: left;
    /*width: 260px;*/
    width: 230px;
    padding-left: 30px;
    text-align: left;
    height: 40px;
}
.apply-up-2-right span{
    height: 50px;
    margin-top: 8px;
    line-height: 66px;
    font-size: 24px;
    vertical-align: middle;
    text-align: center;
}
/*end apply child=2*/
.apply-content-left{
    display: table;
    float: left;
    width: 340px;
}
.apply-content-right{
    display: table;
    float: right;
    width: 340px;
}
.input-content{
    /*width:300px;*/
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
}
.login-content-other{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;

}
.login-content-other a{
    color: #959395;
    padding: 20px;
}
.step-wap{
    width: 100%;
    height: 50px;
}
.login-content .input-content form{height: 200px;}

/*begin apply-success-pop*/
.apply-success-pop, .failure-pop{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.4);
    z-index: 11000;
}
.asp-content{
    position: relative;
    display: block;
    width: 210px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    top: 45vh;
    font-size: 20px;
    line-height: 80px;
    text-align: center;
    background-color: white;
    color: #000000;
}
.failure-pop .asp-content{ width: 320px;}
/*end apply-success-pop*/


/*begin input selector*/
.input-bar a{
    padding-right: 4px;
}
.input-bar .txt a{padding-right: 48px;}
/*.input-bar input:focus*/
/*.bx-viewport,*/
/*.bx-viewport .slider7,*/
/*.bx-viewport .slider7 .slide,*/
/*.bx-viewport .slider7 .slide .page-container,*/
/*.bx-viewport .slider7 .slide .page-container{*/
/*overflow-y: visible!important;*/
/*}*/
form.input-bar .txt ul{
    position: absolute;
    top: 55px;
    left: 56px;
    width: 276px;
    height: auto;
    max-height: 200px;
    border: 1px solid #ccc;
    background-color: white;
    overflow: auto;
    z-index: 10100;
}
form.input-bar .txt ul li ,
form.input-bar .txt ul p {
    padding: 10px;
    height: 20px;
    font-size: 16px;
    line-height: 20px;
    color: #333;
}
form.input-bar .txt ul li{cursor: pointer}
form.input-bar .txt ul p{
    color: #ccc;
    font-size: 16px;
    padding-bottom: 0;
}
form.input-bar .txt ul li:hover {
    background-color: rgba(0,0,0,.05);
    color: white;
}
.ip-container{
    height: 100vh;
}
/*end input selector*/
.asp-content i{
    font-size: 1.8em;
    vertical-align: sub;
}